@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 16% 95%;
    --foreground: 210 10% 23%;
    --card: 210 16% 98%;
    --card-foreground: 210 10% 23%;
    --popover: 210 16% 98%;
    --popover-foreground: 210 10% 23%;
    --primary: 207 68% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 16% 91%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 16% 91%;
    --muted-foreground: 210 8% 45%;
    --accent: 145 63% 49%;
    --accent-foreground: 145 60% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 16% 88%;
    --input: 210 16% 90%;
    --ring: 207 68% 53%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 210 10% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 68% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 10% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 10% 25%;
    --sidebar-ring: 207 68% 53%;
  }

  .dark {
    --background: 210 10% 10%;
    --foreground: 210 40% 98%;
    --card: 210 10% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 68% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 10% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 18%;
    --muted-foreground: 210 40% 60%;
    --accent: 145 63% 49%;
    --accent-foreground: 145 60% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 18%;
    --input: 210 10% 18%;
    --ring: 207 68% 53%;

    --sidebar-background: 210 10% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 68% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 10% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 10% 20%;
    --sidebar-ring: 207 68% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
